APP_NAME=distributed-wagering-processor
NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=wagering
DB_USERNAME=wagering
DB_PASSWORD=wagering

DATABASE_URL=postgresql://wagering:wagering@localhost:5432/wagering

MIKRO_ORM_DEBUG=false

AWS_REGION=us-east-1
LOCALSTACK_AUTH_TOKEN=

SQS_ENDPOINT=http://localhost:4566

SQS_WAGER_QUEUE_URL=http://localhost:4566/000000000000/wager-transactions.fifo

SQS_WAGER_DLQ_URL=http://localhost:4566/000000000000/wager-transactions-dlq.fifo