APP_NAME=distributed-wagering-processor
NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=wagering
DB_USERNAME=wagering
DB_PASSWORD=wagering

DATABASE_URL=postgresql://wagering:wagering@localhost:5432/wagering

MIKRO_ORM_DEBUG=false